@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&family=Titan+One&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
    


body {
    font-size: 100%;   /* Essa é a parte referente ao plano de fundo */
    background: linear-gradient(28.15deg, #bba904 10.62%, #c5076f 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 18px;
}

.cabecalho-imagem{
    height: 120px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
    

}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FCFCFF;
    font-weight: 600;
    font-size: 18px;
    
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.5px solid #FCFCFF;    
}